* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: white;
}

/*///////////////////////////////////
////////////////Header//////////////
/////////////////////////////////*/

header {
  width: 100%;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: start;
}

header .background {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 420px;
  background-image: url("../images/61_thai_46.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: center center;
}

header .background::after {
  content: "";
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0)
  );
  height: 500px;
  width: 100%;
  position: absolute;
}

header .background img {
  position: fixed;
  height: 420px;
}

header .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 100px;
}

header .nav {
  margin-top: 20px;
  width: 400px;
  height: 20px;
  display: flex;
  justify-content: space-evenly;
}

header .nav a {
  color: white;
}

header .fa-shopping-cart {
  font-size: 17px;
}

header .upper {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .upper h2 {
  color: white;
  font-size: 80px;
  font-weight: normal;
}

/*///////////////////////////////////
////////////////Main////////////////
/////////////////////////////////*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: white;
}

main .title {
  height: auto;
  width: 800px;
  padding: 30px 0 30px 0;
}

main .title h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30pt;
  font-weight: 600;
  display: block;
  line-height: 33px;
  width: 100%;
}

main .title h1 span {
  display: block;
  font-weight: 400;
}

main .title h1::after {
  content: "";
  border: 0.5px solid #eee;
  display: block;
  margin-top: 12px;
  width: 100%;
}

main .lower {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 50px;
}

main .list {
  padding-top: 50px;
  top: 0;
  position: sticky;
  width: 300px;
  height: 600px;
  margin-left: 30px;
}

@media only screen and (max-width: 775px) {
  main .list {
    padding-top: 50px;
    top: 0;
    position: unset;
    width: 300px;
    height: 600px;
    margin-left: 30px;
  }
}

main .list ul li {
  margin-top: 10px;
}

main .list ul li:hover {
  text-decoration: underline;
}

main .list ul li a {
  color: black;
  line-height: 28px;
  font-size: 14px;
}

main .list ul li::after {
  content: "";
  border: 0.5px solid #eee;
  display: block;
  margin-top: 12px;
  width: 100%;
}

main .menu {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 40%;
  min-width: 350px;
  row-gap: 25px;
  margin: 0 0 50px 0;
}

main .menu .info {
  width: 70%;
  height: auto;
  background-color: #f5f5f5;
}

main .menu .info p {
  font-size: 13px;
  padding: 10px;
  color: #555555;
}

main .container {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

main .menu .container .searchBar {
  display: flex;
  justify-content: center;
  width: 100%;
}

main .menu .container .searchBar div {
  width: 50%;
}

main .menu .container .niksGevonden {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

main .menu .container .niksGevonden div {
  width: 100%;
  display: flex;
  justify-content: center;
}

main .menu .container .niksGevonden span {
  color: red;
}

main .container .cat {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

main .container .cat h3 {
  font-size: 20px;
  font-weight: 600;
  color: #555555;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid black;
}

main .container .cat ul li {
  border-bottom: 1px solid #eee;
}

main .container .cat ul li a {
  display: block;
  padding: 20px 0 20px 0;
}

main .container .cat ul li a .price {
  float: right;
  font-size: 15px;
  color: #555;
  font-weight: 600;
}

main .container .cat ul li a .price::after {
  content: "+";
  display: inline-block;
  background-color: teal;
  padding: 1px 6px;
  color: #fff;
  margin-left: 9px;
}

main .container .cat ul li a b {
  color: black;
  font-size: 16px;
  font-weight: 600;
}

main .container .cat ul li a .description {
  word-break: break-word;
  color: #555;
  width: 50%;
  display: block;
  font-size: 14px;
}

main .lower .winkelmand {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  flex-direction: column;
  width: 240px;
  height: 200px;
  border-radius: 30px;
  border: 1px solid rgb(228, 228, 228);
  padding: 20px;
}

main .lower .winkelmand h2 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}

main .lower .winkelmand p {
  font-size: 12px;
}

main .lower .winkelmand a {
  display: inline-block;
  width: 80%;
  height: 50px;
}

main .lower .winkelmand a button {
  color: #bbb !important;
  background-color: #f0f0f0;
  border-bottom-color: #bbb !important;
  text-shadow: none !important;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
}

main .lower .winkelmand a .blauw {
  color: unset !important;
}

/*///////////////////////////////////
////////////////winkelmand//////////////
/////////////////////////////////*/

main .mand-item {
  width: 60% !important;
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #555;
}

.winkelmandf {
  width: 33%;
  height: 100%;
}

.wMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wMiddle button {
  background: none;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 20px;
}

.wMiddle a {
  margin: 5px;
}

.wMiddle a:hover {
  background-color: #eee;
  border-radius: 10px;
}

.wRight {
  display: flex;
  justify-content: end;
}

.winkelmand-total {
  display: flex;
  justify-content: end;
  width: 70%;
  margin: 40px 0 40px 0;
}

.winkelmand-total-container {
  width: 60%;
}

.winkelmand-total-details {
  width: 250px;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}

.winkelmand-total-details p {
  width: 50%;
}

.winkelmand-totaal-prijs {
  text-align: end;
}

.winkelmand-total-details button {
  margin-top: 20px;
  width: 130px;
  height: 50px;
  border: none;
  background-color: rgba(0, 0, 0, 0.726);
  color: white;
  border-radius: 5px;
  font-size: 14px;
}

.winkelmand-total-details button:hover {
  background-color: rgb(114, 112, 112);
  cursor: pointer;
}

/*///////////////////////////////////
////////////////reserveren//////////////
/////////////////////////////////*/

main .container2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  row-gap: 50px;
  column-gap: 50px;
  width: 80%;
  height: auto;
  margin: 50px 0 50px 0;
}

main .title-reserveren {
  height: auto;
  padding: 30px 0 30px 0;
}

main .title-reserveren h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30pt;
  font-weight: 600;
  display: block;
  line-height: 33px;
  width: 100%;
}

main .title-reserveren h1 span {
  display: block;
  font-weight: 400;
}

main .title-reserveren h1::after {
  content: "";
  border: 0.5px solid #eee;
  display: block;
  margin-top: 12px;
  width: 100%;
}

main .form {
  width: 350px;
}

main .form form {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  height: auto;
}

.input-container {
  position: relative;
  margin-bottom: 25px;
  width: 100%;
}
.input-container label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 16px;
  color: black;
  transition: all 0.5s ease-in-out;
}
.input-container input {
  border: 0;
  border-bottom: 1px solid rgb(209, 204, 204);
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
}
.input-container input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}
.input-container input:focus ~ label,
.input-container input:valid ~ label {
  top: -12px;
  font-size: 12px;
}

main .form form button {
  width: 50%;
  height: 50px;
  border: none;
  background-color: rgba(0, 0, 0, 0.726);
  color: white;
  border-radius: 5px;
  font-size: 14px;
}

main .form form button:hover {
  background-color: rgb(114, 112, 112);
  cursor: pointer;
}

main .tijden {
  width: 350px;
}

main .tijden-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

main .tijden-list ul {
  width: 40%;
  height: 100%;
  font-size: 14px;
}

main .tijden-list .dagen {
  text-align: right;
}

/*///////////////////////////////////
////////////////Registreren///////////////
/////////////////////////////////*/

main .container2 .registreren {
  width: 350px;
}

main .container2 .inloggen {
  width: 350px;
}

main .container2 form button {
  width: 50%;
  height: 50px;
  border: none;
  background-color: rgba(0, 0, 0, 0.726);
  color: white;
  border-radius: 5px;
  font-size: 14px;
}

main .container2 form button:hover {
  background-color: rgb(114, 112, 112);
  cursor: pointer;
}

/*///////////////////////////////////
////////////////Admin///////////////
/////////////////////////////////*/

main .reserveringen-admin {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
}

.reserveringen-admin h2 {
  text-align: center;
  margin-bottom: 30px;
  width: 50%;
}

.reserveringen-admin h2::after {
  content: "";
  border: 0.5px solid #eee;
  display: block;
  margin-top: 12px;
  width: 100%;
}

main .menu-admin {
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.menu-admin h2 {
  text-align: center;
  margin-bottom: 30px;
  width: 50%;
}

.menu-admin h2::after {
  content: "";
  border: 0.5px solid #eee;
  display: block;
  margin-top: 12px;
  width: 100%;
}

.menu-admin button {
  margin-bottom: 30px;
  padding: 10px;
  border: none;
  background-color: cornflowerblue;
  border-radius: 10px;
}

.menu-admin button:hover {
  cursor: pointer;
  background-color: rgb(80, 117, 186);
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.changeDelButton .delete {
  border: none;
  padding: 10px;
  background-color: red;
  border-radius: 30%;
}

.changeDelButton .delete:hover {
  cursor: pointer;
  background-color: rgb(214, 16, 16);
}

.changeUpdButton .update {
  border: none;
  padding: 10px;
  background-color: green;
  border-radius: 30%;
}

.changeUpdButton .update:hover {
  cursor: pointer;
  background-color: rgb(8, 88, 8);
}

main .home a {
  position: fixed;
  top: 10px;
  left: 10px;
  color: black;
  padding: 2.5px 5px 2.5px 5px;
  border: solid 1px black;
}

.holder-admin {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #555555;
}

.form-admin {
  border-radius: 20px;
  padding: 0 50px 50px 50px;
  background-color: #eee;
  width: 30%;
}

.form-admin .admin-button-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.form-admin button {
  padding: 10px;
  background-color: #555;
  border-radius: 10px;
  border: none;
}

.form-admin button:hover {
  background-color: rgb(75, 73, 73);
  cursor: pointer;
}

.holder-admin .btn-terug {
  position: fixed;
  top: 10px;
  left: 10px;
  color: black;
  padding: 2.5px 5px 2.5px 5px;
  border: solid 1px black;
  background-color: #555;
}

.holder-admin .btn-terug:hover {
  background-color: rgb(111, 111, 111);
  cursor: pointer;
}

/*///////////////////////////////////
////////////////Footer//////////////
/////////////////////////////////*/
footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 250px;
  background-color: rgb(31, 29, 29);
}

footer .container {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  width: 1300px;
  height: 100%;
}

footer .container .left {
  width: 300px;
  height: 100%;
}

footer .container .middle {
  width: 320px;
  height: 13%;
  color: white;
}

footer .container .middle p {
  text-align: center;
  font-size: 13px;
}

footer .container .right {
  width: 300px;
  height: 100%;
}

/*///////////////////////////////////
/////////////back to top////////////
/////////////////////////////////*/

.fa {
  color: white;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: -5px;
  right: -5px;
  height: 60px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.678);
  border-radius: 80% 0 0 0;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.788);
}
